.close, .min, .max {
    -fx-background-color: whitesmoke;
    -fx-text-fill: black;
}
.close:hover {
    -fx-background-color: red;
}
.min:hover {
    -fx-background-color: #4a4a4a;
}
.max:hover {
    -fx-background-color: blue;
}



.startPanelBackground {
    -fx-background-color:linear-gradient(to top left, #ad55ce, lavender);
}
.startBackground {
    -fx-background-color:linear-gradient(to top right, #ad55ce, lavender);
}

.vbox .button {
    -fx-background-color: transparent;
}

.loginButtons {
    -fx-border-radius: 10px;
    -fx-background-radius: 15px;
    -fx-background-color: #ff5e5e;
    -fx-text-fill: white;
}
.loginButtons:hover {
    -fx-background-color: #ff8989;
}

.textBoxes {
    -fx-border-color: gray;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.infoBox {
    -fx-background-color:white;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-width: 2;
    -fx-border-color: gray;
}
.whiteBackground {
    -fx-background-color: whitesmoke;
}

.navButton:hover {
    -fx-background-color:lightgray;
    -fx-opacity: .5;
    -fx-background-radius: 10;
}